.header{
    opacity: 1.0;
    background-color: white;
}

.title{
  display: inline;
  .name{
    padding: 0px;
    margin: 0px;
    font-family: kilogram;
    font-size: 30px;
  }
  .subname{
    padding: 0px;
    margin: -15px 0px 0px 30px;
    font-family: chunk;
    font-size: 30px;
  }
}

.menuRow{
  padding: 20px;
  // background-color: white;
  .menu {
    // background-color: white;
    padding:10px;
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
