.footer {
  .form-group, input[type='text']{
    width: 100%;
  }

  .row{
    padding: 25px 10px 25px 10px;
  }

  .subscribeTitle{
    font-size: 20px;
    font-family: "nevis";
  }

  .subscribeFOrm{

  }

  li a{
    color: #000000;
  }

  li a:hover{
    background-color: #fa9c20;
    color: #FFFFFF;
  }
}
