<div class="container footer">
    <div class="row">
        <div class="col-sm-4 subscribeTitle">
          GET OUR NEWSLETTER:
        </div>
        <div class="col-sm-8 subscribeForm">
          <form class="form-inline">
              <div class="col-sm-8">
                <div class="form-group">
                    <label for="inputPassword2" class="sr-only">YOUR EMAIL: </label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Enter your email address">
                </div>
              </div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
              </div>
          </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
          <h4>About us</h4>
          <h5>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
              O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde
              o ano de 1500, quando uma misturou os caracteres de um texto para criar um
              espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto
              para a tipografia electrónica, mantendo-se essencialmente inalterada.</h5>
        </div>
        <div class="col-sm-3">
            <div class="profile-usermenu">
                <ul class="nav">
                    <li class="active">
                        <a href="#">Overview</a>
                    </li>
                    <li>
                        <a href="#">Account Settings</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Tasks</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
          <div class="profile-usermenu">
              <ul class="nav">
                  <li class="active">
                      <a href="#">Overview</a>
                  </li>
                  <li>
                      <a href="#">Account Settings</a>
                  </li>
                  <li>
                      <a href="#" target="_blank">Tasks</a>
                  </li>
                  <li>
                      <a href="#">Help</a>
                  </li>
              </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <h4>About us</h4>
          <h5>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão.
              O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde
              o ano de 1500, quando uma misturou os caracteres de um texto para criar um
              espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto
              para a tipografia electrónica, mantendo-se essencialmente inalterada.</h5>
        </div>
    </div>

</div>


<app-subfooter></app-subfooter>
