<div class="container-fluid divBackgroundRestaurant">
    <div class="row sliderLeftInformation">
        <div class="col-sm-12">
            <div class="title">
                <h1 class="name"> ENJOY OUR NEWEST DISH </h1>
            </div>
        </div>
    </div>

    <div class="row sliderRightInformation">
        <div class="col-sm-6 slideFoodImage">
            <div class="sliderPlate">
                <img src="app/imgs/prato-comida.png" />
            </div>
        </div>

        <div class="col-sm-6 sliderMenu">
            <div class="containter-fluid">
                <div class="row">
                    <div class="information col-sm-12"> << PLATE INFORMATION </div>
                </div>
                <div class="row">
                    <div class="information col-sm-12"> << WEEK MENU</div>
                </div>
                <div class="row">
                    <div class="information col-sm-12"> << DISCOUNTS</div>
                </div>
            </div>
        </div>
    </div>
</div>
