<div class="container-fluid ">
      <div class="row sliderRightInformation">
          <div class="col-sm-6 slideFoodImage">
              <div class="sliderPlate">
                  <img class="principalPlate" src="app/imgs/prato-comida.png" />
              </div>
          </div>

          <div class="col-sm-6 sliderMenu">
              <div class="containter-fluid">
                  <div class="row">
                      <div class="information col-sm-12">
                        <p>.:: PLATE INFORMATION </p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="information col-sm-12">
                        <p> .:: WEEK MENU </p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="information col-sm-12">
                        <p> .:: DISCOUNTS </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row sliderLeftInformation">
          <div class="col-sm-12">
              <div class="title">
                  <h1 class="name"> ENJOY OUR NEWEST DISH </h1>
              </div>
          </div>
      </div>
</div>
