<div class="container mainFeature">
  <h2 class="mainFeatureTitle">
    Categories ::..
  </h2>
</div>

<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-3">
      <div class="categoryBox">
        <div class="categoryBoxImage">
          <img src="/app/imgs/categories/catEnsaladas.jpg" />
        </div>
        <div class="categoryBoxInformation">
          dadasd
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="categoryBox">
        <div class="categoryBoxImage">
          <img src="/app/imgs/categories/catEnsaladas.jpg" />
        </div>
        <div class="categoryBoxInformation">
          dadasd
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="categoryBox">
        <div class="categoryBoxImage">
          <img src="/app/imgs/categories/catEnsaladas.jpg" />
        </div>
        <div class="categoryBoxInformation">
          dadasd
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="categoryBox">
        <div class="categoryBoxImage">
          <img src="/app/imgs/categories/catEnsaladas.jpg" />
        </div>
        <div class="categoryBoxInformation">
          dadasd
        </div>
      </div>
    </div>
  </div>
</div>
