<div class="container contentContainer">
    <div class="row styleEachLine">
        <div class="col-sm-3 box boxNormal">
            <div class="row">
              <div class="col-sm-12">
                <img src="app/imgs/prato2.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information title"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information description"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information price"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="button consultar"></div>
              </div>
            </div>
        </div>
        <div class="col-sm-3 box boxNormal">
            <div class="row">
              <div class="col-sm-12">
                <img src="app/imgs/prato3.png" />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="information title"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information description"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information price"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="button consultar"></div>
              </div>
            </div>

        </div>
        <div class="col-sm-3 box boxNormal">
            <div class="row">
              <div class="col-sm-12">
                <img src="app/imgs/prato4.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information title"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information description"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="information price"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="button consultar"></div>
              </div>
            </div>
        </div>
        <div class="col-sm-3 box boxNormal">
          <div class="row">
            <div class="col-sm-12">
              <img src="app/imgs/prato5.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="information title"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="information description"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="information price"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="button consultar"></div>
            </div>
          </div>
        </div>
    </div>
</div>
