<div class="container mainFeature">
  <h2 class="mainFeatureTitle">
    Featured Plates ::..
  </h2>
</div>

<div class="container-fluid contentContainer">
    <div class="row styleEachLine">
          <div class="col-sm-3 box boxNormal">
              <div class="row">
                <div class="col-sm-12 ">
                  <div class="boxTitle title">Lorem Ipsum</div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 ">
                  <img class="boxImg" src="app/imgs/prato2.png" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 ">
                  <div class="boxDescription description">
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  </div>
                </div>
                <div class="col-sm-4 ">
                  <div class="boxPrice price">
                    10.00E
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="button consultar">CONFER</div>
                </div>
              </div>
          </div>


        <div class="col-sm-3 box boxNormal">
            <div class="row">
              <div class="col-sm-12 ">
                <div class="boxTitle title">Lorem Ipsum</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 ">
                <img class="boxImg" src="app/imgs/prato2.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 ">
                <div class="boxDescription description">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="boxPrice price">
                  10.00E
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="button consultar">CONFER</div>
              </div>
            </div>
        </div>

        <div class="col-sm-3 box boxNormal">
            <div class="row">
              <div class="col-sm-12 ">
                <div class="boxTitle title">Lorem Ipsum</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 ">
                <img class="boxImg" src="app/imgs/prato2.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 ">
                <div class="boxDescription description">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="boxPrice price">
                  10.00E
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="button consultar">CONFER</div>
              </div>
            </div>
        </div>


        <div class="col-sm-3 box boxNormal">
            <div class="row">
              <div class="col-sm-12 ">
                <div class="boxTitle title">Lorem Ipsum</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 ">
                <img class="boxImg" src="app/imgs/prato2.png" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 ">
                <div class="boxDescription description">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </div>
              </div>
              <div class="col-sm-4 ">
                <div class="boxPrice price">
                  10.00E
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="button consultar">CONFER</div>
              </div>
            </div>
        </div>

        <button type="button" class="btn btn-warning btn-lg raised">MORE PLATES</button>



</div>
